

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
    
  
    
  
  
  font-family: 'Poppins', sans-serif;
  
}
html.body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/*--side navator bar---*/
.wrapper{
  height: 100%;
  width: 300px;
  position: relative;
}
.wrapper .menu-btn{
  position: fixed;
  left: 20px;
  top: 10px;
  background: #4a4a4a;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
#btn:checked ~ .menu-btn{
  left: 270px;
}
.wrapper .menu-btn i{
  position: fixed;
  transform: none;
  font-size: 23px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.fa-times{
  opacity: 0;
}
#btn:checked ~ .menu-btn i.fa-times{
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.fa-bars{
  opacity: 0;
  transform: rotate(180deg);
  left: 10px;
}
/*--------------------------------------side nav bar------------------*/
#sidebar{
  z-index: 9999;
  position: fixed;
  background: #404040;
  height: 100%;
  width: 270px;
  overflow: hidden;
  left: -270px;
  transition: all 0.3s ease;
}
#btn:checked ~ #sidebar{
  left: 0;
}
#sidebar .title{
  line-height: 65px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #222;
}
#sidebar .list-items{
  position: relative;
  background: #404040;
  width: 100%;
  height: 100%;
  list-style: none;
}
#sidebar .list-items li{
  padding-left: 40px;
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover{
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}
#sidebar .list-items li:first-child{
  border-top: none;
}
#sidebar .list-items li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li a i{
  margin-right: 20px;
}
#sidebar .list-items .icons{
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 100px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a{
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  background: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #383838;
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover{
  background: #404040;
}
.list-items .icons a:first-child{
  margin-left: 0px;
}



/*-----dummy-----*/
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  
  width: 100%;
  text-align: center;
}

.content .header{
  font-size: 45px;
  font-weight: 700;
}
.content p{
  font-size: 20px;
  font-weight: 300;
}
@media screen and (max-width:770px) {
  #sidebar{
  position: fixed;
  background: #404040;

  height: 100%;
  width: 250px;
  margin-top: 5rem; 
 
 overflow-x: auto;
 overflow-y:auto ;
}

  #btn:checked ~ .menu-btn{
    left: 250px;}
    .wrapper .menu-btn{
      position: fixed;
      left: 30px;
      top: 10px;
      background: #4a4a4a;
      color: #fff;
      height: 45px;
      width: 45px;
      z-index: 9999;
      border: 1px solid #333;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
    }
    
 
}

/*-------------------------video---------*/
.navbar {
	background-color: transparent;
}
.introduction-area {
	margin-bottom: -0.8rem;
  
  
}

.introduction-area .welcome-image video {
	width: 100%;
}
@media (min-width: 320px) and (max-width: 600px){
  .introduction-area {
    margin-bottom: -5.5rem;
    margin-top: -5.5rem;
  }
  .introduction-area .welcome-image video {
    width: 100%;
    height: 100%;
  }
  

}









/*--about us--*/

#About
 {

  width: 100%;
  padding: 70px 0;
  background: #999898;


}








.about-text{
 text-align: center;
 padding-bottom: 0px;
}
.about-text h1{
  font-size: 40px;
  font-style: normal;
  margin-top: -10px;


}
.about-text p{
  font-size: 25px;
  padding: 120px;
  text-align: center;


}
@media (min-width: 320px) and (max-width: 600px){

  .about-text p{
    font-size: 20px;
    padding: 50px;
    text-align: center;
    border-spacing: 100px;
    
  }
  .about-text h1{
    font-size: 32px;
    font-style: normal;
    margin-top: -5px;
    
   
    
    
  
  }
  
  

}















/*---- features---*/

#features{
  width: 100%;
  padding: 70px 0;
  margin-top: 50px;
}

.title-text{
  text-align: center;
  text-align: 70px;
  padding-bottom: 0px;
  margin-top: 50px;
  
  


}
.title-text p{
  margin: auto;
  font-size: 20px;
  color:#cfc9c9ee;
  font-weight: bold;
  margin-inline-start: 50px;
}
.title-text h1{
  font-size: 35px;
  font-style: bold;
  color: rgb(245, 240, 240);
  padding-top: 50px;

}





/*---------------------*/

body section  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 50vh;

  

background: #232427;



}
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px 0;
  margin-bottom: 0px;
  

}



















.container .card{
  mask-position: center;
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
               inset -5px -5px 15px rgba(255,255,255,0.1),
               5px 5px 15px rgba(0,0,0,0.3),
                -5px -5px 15px rgba(255,255,255,0.1);
      border-radius: 15px;

      margin: 30px;
}
.container .card .box::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.1);
}








.container .card .box
{
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  display: flex;
  transition: 0.5s;



  justify-content: center;
  align-items: center;
  overflow: hidden;


}
.container .card .box::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  position: none;
}
















.container .card .box:hover{
  transform: translateY(-80px);
  box-shadow: 0 40px 70px rgba(0,0,0,0.5);






}
.container .card .box .content
{
  padding: 20px;
  text-align: center;

}
.container .card .box .content h2{
  position: absolute;
  top: -30px;
  right: 40px;
  font-size: 6em;
  color: rgba(255,255,255,0.05);
}
.container .card .box .content h3{
  color: #19d7f8;
  font-size: 1.8em;
  z-index: 1;
  transition: 0.5s;






}
.container .card .box .content p{
  color:#959899c7;
  font-size: 16px;
  font-weight: 300;

  z-index: 1;
  transition: 0.5s;

}
.container .card .box .content a{
position: relative;
display: inline-block;
padding: 8px 20px;
background: linear-gradient(#db1bf6,#19d7f8);
margin-top: 15px;
border-radius: 20px;
text-decoration: none;
font-weight: 400;
color: #fff;
box-shadow: 0 10px 20px rgba(0,0,0,0.2)




}
/**
.container .card:nth-child(1) .box .content a{
  background: #2196f3;

}
.container .card:nth-child(2) .box .content a{
  background: #e91e63;
  
}
.container .card:nth-child(3) .box .content a{
  background: #97dc47;

  
}*/




/*----------------------------footer--------------------------------*/
footer{
  position: absolute;
  bottom: 100;
  left: 0;
  right: 0;
  background:#0f0e0e ;
  height: -50vw;
  width: 98.7vw;
  font-family: "Open Sans";
  padding-bottom: -160px;
  color: #fff;
  
  
  
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: bottom;
  padding: 60px;
  margin-bottom: 2rem;
  
  
 
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  margin-top: 20px;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #0a0a0aea;
  width: 98.5vw;
  padding-bottom: 100px ;
  text-align: center ;
  padding: 50px;
  
  top: 200px;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  
 
}
@media (min-width: 320px) and (max-width: 600px){


  .footer-bottom{
    background: #0a0a0aea;
    width: 100vw;
    padding-bottom: 100px ;
    text-align: center ;
    padding: 20px;
    
    top: 200px;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: bottom;
    padding: 20px;
   
    
   
  }
}







 